# Python関連
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# Jupyter Notebookのチェックポイント
.ipynb_checkpoints

# 環境設定ファイル
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEやエディタの設定ファイル
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OSやその他のシステムファイル
.DS_Store
Thumbs.db

# CSVデータファイル
data/*.csv 